

/*@font-face {*/
/*	font-family: HelviticaNeue;*/
/*	src: url(fonts/HelviticaNeue/HelviticaNeue.woff);*/
/*}*/


* {
	font-family: HelviticaNeue, sans-serif;
/*	font-family: Helvetica;*/
}




/*
 Formatting for the page header
 */

.header-title {
	font-size: 40px;
	/*	font: 40px bold sans-serif;*/
	/*	font-style: sans-serif;*/
	margin-bottom: 14px;
}

#name-select-text-input, #start-conversation-select, .header-bar {
	border: solid black 2px;
}

#name-select-text-input {
	margin-right: 120px;
}

#start-conversation-select {
	width: 120px;
}

.header-bar {
/*	position: static;*/
	padding-bottom: 8px;
	padding-top: 10px;
	padding-left: 32px;
	padding-right: 32px;
	width: 595px;
	margin-bottom: 30px;
}






/*
 
 <div className="conversation">
 <div className="conversationHeader">
 <h2 className="conversationHeaderParticipant">
 {this.props.participant}
 </h2>
 <button className="conversationHeaderExit" id={this.props.exitButtonId}>X</button>
 </div>
 <div className="conversationBody">
 <Message author="jimmy" text="I gotta go..." />
 </div>
 <form className="conversationForm" id={this.props.id} >
 <input className="conversationInput" type="text" />
 </form>
 </div>
 
 */

/*
 Formatting the conversation boxes
 */

.conversation {
	border: solid black 2px;
	width: 200px;
	height: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
/*	display: flex;*/
}

.conversationHeader {
	border-bottom: solid black 2px;
	padding: 8px;
	padding-left: 12px;
}

.conversationHeaderParticipant {
	display: inline;
	font-size: 22px;
	font-style:	bold;
}

.conversationHeaderExitButton {
	margin-top: -8px;
	margin-right: -8px;
	padding: 12px;
	float: right;
}

.conversationBody {
	display: flex;
	flex-flow: column;
/*	width: 200px;*/
	height: 210px;
/*	padding: none;*/
/*	margin: none;*/
/*	border-bottom: solid green;*/
}

.conversationBodyMessages {
/*	float: left;*/
/*display: float;*/
	padding: 4px;
	flex: 1 1 auto;
}

.conversationBodyInput {
	border-top: solid black 2px;
	padding: 0px;
/*	clear: both;*/
/*	border-top: solid black 2px;*/
/*	flex: 0 1 40px;*/
/*	height: 30pxs;*/
/*	align-self: flex-end;*/
}

.conversationBodyInputText {
	width: 192px;
	height: 18px;
/*	height: 120%;*/
	margin: 0px;
	border: 0px;
	padding: 4px;
	border-color: transparent;
/*	border-top: solid black 2px;*/
/*	border: none;*/
/*	margin: none;*/
}

/*.conversationBodyInputText:focus{*/
/*	outline:none;*/
/*}*/


/*.conversationHeaderExitButton*/




/*
 Message formatting
 */

.message {
	padding: 2px;
}

.message-author {
	font-style: italic;
}

.message-text {
/*	font-style: ;*/

}

/*.header-bar-separator {*/
/*	clear: none;*/
/*	width: 80px;*/
/**/
/*	height: 1px;*/
/*}*/


/*#header-bar {*/
/*	border: black 2px;*/
/*	border-style: solid;*/
/*}*/
/**/
/*#name-select-text-input {*/
/*	border: black 2px;*/
/*	border-style: solid;*/
/*}*/
/**/
/*#start-conversation-select {*/
/*	border: black 2px;*/
/*	border-style: solid;*/
/*}*/

/** {*/
/*	border: red 1px;*/
/*	border-style: solid;*/
/*}*/


